node_modules/
npm-debug.log*
yarn-error.log*
pnpm-lock.yaml
package-lock.json

dist/
www/
build/
*.log

android/
ios/

.idea/
.vscode/*
!.vscode/extensions.json
.DS_Store
Thumbs.db

.env
.env.*.local

.angular/
coverage/